#sidebar {
    dock: left;
    width: 15%;
    height: 100%;
    margin-left: 1;
    margin-right: 1;
    border: double $panel;
    background: $background;
}

#main-content {
    margin-right: 1;
    border: double $panel;
    background: $background;
}

.sidebar-element {
    margin-top: 1;
    margin-bottom: 1;
}

